table {
    border:1px solid black;
    display:inline-block;
    margin-top:10%;
    margin-left:35%;
    border-collapse:collapse;
}

td {
    height:40px; width:40px;
    border:1px grey;
    text-align:center;
    font-size:30px;
}

tr:nth-child(odd) td:nth-child(even) , tr:nth-child(even) td:nth-child(odd) {
    background:gray;
}